* *:before *:after {
    box-sizing: border-box;
}

.body {
    margin: unset !important;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.header {
    padding: 32px 16px !important;
    text-align: center !important;
}

.h1 {
    font-size: 36px;
    margin: 10px 0;
}

.welcome {
    font-size: 15px;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
}

.moli {
    padding: 0 8px;
    background-color: #000;
    color: #fff;
}

.main {
    max-width: 1400px;
    box-sizing: inherit;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    justify-content: space-between !important;
}

.leftside {
    display: flex;
    flex-direction: column;
    justify-content: left !important;
    width: 62.9999%;
    padding: 16px !important;

}

.section {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.img {
    width: 100% !important;
    vertical-align: middle;
}

.container {
    padding: 0 16px !important;
}

.h3 {
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
}

.h5 {
    font-weight: 400;
    font-size: 18px;
    margin: 10px 0;
}

.opacity {
    opacity: 0.60;
}

.cardbottom {
    width: 99.9999%;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

.button {
    width: 89.9999%;
}

.buttons {
    padding: 12px 24px !important;
    border: 1px solid #ccc !important;
}

.buttons:hover {
    background-color: #ccc !important;
}

.rightbottom {
    width: 24.3333%;
}

.commentpadding {
    padding: 12px 24px !important;
}

.hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.rightside {
    display: flex;
    flex-direction: column;
    justify-content: right !important;
    width: 36.66666% !important;
    padding: 16px !important;
}

.rightimg {
    width: 100%;
    vertical-align: middle;
    height: 225px;
}

.margincard {

    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%)
}

.paddingsection {
    padding: 8px 16px;
}

.h4 {
    font-weight: 400;
    margin: 10px 0;
    font-size: 20px;
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    padding: 16px !important;
}

.li:hover {
    background-color: #ccc;
}

.smallimg>img {
    width: 50px;
    margin-right: 16px !important;
    vertical-align: middle;
}

.travelblack {
    color: #fff !important;
    background-color: #000 !important;
    margin-bottom: 16px !important;
    padding: 0 8px !important;
}

.tags {
    display: inline-block;
    margin-bottom: 16px !important;
    padding: 0 8px !important;
    font-size: 15px !important;
}

.footer {
    color: #fff !important;
    background-color: #616161 !important;
    padding: 32px 16px;
    margin-top: 16px;
}

.Previousbutton {
    color: #fff !important;
    background-color: #000 !important;
    padding: 12px 24px !important;
    margin-bottom: 16px !important;
    opacity: 0.3;
    border: none;
    text-decoration: none;
}

.Previousbutton:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.Nextbutton {
    color: #fff !important;
    background-color: #000 !important;
    padding: 12px 24px !important;
    margin-bottom: 16px !important;
    border: none;
    text-decoration: none;
}

.Nextbutton:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.footerlink {
    color: #fff;
}